.#{$prefix}-loading {
  color: $grey-7;
  position: relative;
  .#{$prefix}-loading-icon {
    font-size: 18px;
    animation: myLodingRolling 2.2s infinite linear;
  }
  .#{$prefix}-loading-nested{
    position: absolute;
    top: 0;
    left: calc(50% - 9px);
    height: 100%;
  }
  .#{$prefix}-loading-container {
    background: #fff;
    opacity: .5;
    user-select: none;
    pointer-events: none;
    transition: all 0.2s;
  }
  .#{$prefix}-loading-container-hidden {
    background: none;
    opacity: 1;
    user-select: all;
    pointer-events: all;
    transition: all 0.2s;
  }
}

@keyframes myLodingRolling {
  0% {
    transform: rotate(0deg);;
  }
  25% {
    transform: rotate(90deg);;
  }
  50% {
    transform: rotate(180deg);;
  }
  75% {
    transform: rotate(270deg);;
  }
  100% {
    transform: rotate(360deg);;
  }
}