.cloud-music-page-header {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0;
  color: $grey-10;
  cursor: pointer;
  user-select: none;
}
.cloud-music-page-header-icon{
  font-size: 18px;
  margin-left: 4px;
  vertical-align: bottom;
  font-weight: 100 ;
}