//单个点的样式
.carousel-dot-container{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 4px 0 4px;
  background-color: #E6E6E6;
}

.carousel-dot-selected {
  background-color:$primary-color
}


// 点阵样式
.carousel-dots-container {
  display: flex;
  justify-content:center;
}